---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: cozy-fluxcd
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/match: wildcard-le-tls-cert

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              TZ: ${TZ}
              ADVERTISE_IP: https://myk8s.se:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.222.0/24,10.244.0.0/16,10.96.0.0/12
              #PLEX_CLAIM: claim-ssAB6QxVsBLamBd9TFRM # Only used on first boot, then removed.
            probes: # Cant get probes to work...
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        type: LoadBalancer
        annotations:
          lineage.cozystack.io/ignore: "true"
          metallb.io/address-pool: cozystack
        loadBalancerIP: 192.168.222.111
        externalTrafficPolicy: Local
        ports:
          http:
            port: 32400
    persistence:
      config:
        existingClaim: "plex-config"
        globalMounts:
          - path: /config
      media:
        type: persistentVolumeClaim
        existingClaim: media-rox
        globalMounts:
          - path: /media
            readOnly: true
      tmpfs:
        type: emptyDir
        medium: Memory
        sizeLimit: 6Gi
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
                subPath: logs
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
      tls-cert:
        type: secret
        name: wildcard-le-tls-cert
        globalMounts:
          - path: /tls
